body {
  color: #423933;
  background: #f6efd8;
  font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}

.title > h1,
body > section > h2,
body > footer h2 {
  font-family: 'Glass Antiqua', cursive;
}
